// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #e8e8e8;
@light-gray: #d1d1d1;
@gray: #a3a3a3;
@dark-gray: #5e5e5e;
@very-dark-gray: #191919;

@red: #ffb2b2;
@orange: #ffdb99;
@yellow: #ffffb2;
@green: #cce5cc;
@cyan: #ccffff;
@blue: #ccccff;
@violet: #e5cce5;
