// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #e8e8e8;
@light-gray: #d1d1d1;
@gray: #a3a3a3;
@dark-gray: #5e5e5e;
@very-dark-gray: #191919;

@red: #ff917e;
@orange: #ffdb99;
@yellow: #ffffb2;
@green: #b2d8b2;
@cyan: #ccffff;
@blue: #9999ff;
@violet: #e0a6ff;
